/* Navbar CSS */
.container-fluid{
    padding: 0px;
}

.navbar{
    padding: 0px;
    margin-bottom: 0px;
}
.web-logo{
    height: 4rem;
    width: 7rem;
}

.nav-link{
    padding: 1.5rem;
    width: 7.2rem;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


.nav-link:hover{
    background-color: rgb(44, 109, 231);
}


.navbar-nav .nav-link.active:hover{
    color: white;
}

.nav-item .nav-link {
    position: relative;
    text-decoration: none;
    color: inherit; 
}

.nav-item .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: black;
    left: 10%;
    bottom: 1rem;
    transition: width 0.6s ease;
}

.nav-item .nav-link:hover::after {
    width: 80%;
}


/* Home Page Css */

.homepage-container {
    height: 100vh; 
  }
  
  .full-width-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: -1; 
    opacity: 0.6;
    filter: brightness(1.1);
  }
  
  .centered-items {
    max-width: 400px;
  }

  .centered-items p{
    font-weight: 400;
  }
  
  @media (max-width: 767.98px) {
    .centered-items {
      max-width: 90%;
      text-align: center;
    }
    .text-end {
      text-align: center !important;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .centered-items {
      max-width: 75%;
    }
  }
  
  @media (min-width: 992px) {
    .centered-items {
      max-width: 50%;
      max-height: 50%;
    }
  }
  
  .font-weight-bold {
    font-weight: bold;
  }
  
  .btn-lg {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
  }
  

/* Over Services CSS */

.services {
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    padding: 20px;
    text-align: center;
  }
  
  .App-header h1 {
    margin: 0;
  }
  
  
/* Media Querie for Navbar */
@media (max-width: 991px){
    .nav-link{
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        /* font-size: var(--bs-nav-link-font-size); */
        font-size: large;
        width: 100%;
        text-align: left;
        padding-left: 5px;
    }

    .nav-link:hover{
        border-radius: 5px;
    }

    .nav-item .nav-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 3px;
        background: black;
        left: 0;
        bottom: 0.4rem;
        transition: width 0.9s ease;
    }
    
    .nav-item .nav-link:hover::after {
        width: 100%;
    }

}

/* View marksheet css*/

.view-body{
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.card{
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}

.blue-text{
    color: #00BCD4;
}

.form-control-label{
    margin-bottom: 0;
}

.find-form input, .find-form textarea{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
}

.find-dropdown{
    padding: 8px 15px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 300;
}

.find-dropdown:hover{
    border: 1px solid #ccc;
}

.find-dropdown:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400;
}

input:focus, textarea:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #00BCD4;
    outline-width: 0;
    font-weight: 400;
}

.btn-block{
    padding: 8px 30px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px !important;
    font-weight: 400;
}

.btn-block:hover{
    color: blue !important;
    background-color: white;
}

button:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

/* Get Started Css */
.row{
    margin-right: 0px;
}
.GT-Page{
    background-color: #EEA47FFF;
}

.GT-Card{
    background-color: #00539CFF;
    border-radius: 2vh;
}

.GT-img{
    height: 40vh;
    width: 40vh;
}

.GT-Card-Heading{
    font-family: 'Times New Roman', Times, serif;
}

.GT-btn{
    background-color: #00539CFF;
    color: yellow;
    border: none;
    font-size: large;
}

/* Save Marksheet css */
.save-page{
    background-color: hsla(0,0%,100%,.8);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

.save-form{
    background-color: #00539CFF;
    height: 60vh;
    border-radius: 2vh;
}

.save-marksheet-form{
    justify-content: space-around;
    margin-top: 10vh;
}

.standard-btn{
    border: 1px white solid;
    background-color: white;
    color: #00539CFF;
    width: 30vh;
    font-size: larger;
    height: 45px;
}

.standard-btn:hover{
    border: 1px white solid;
}

.select-marksheet-btn{
    border: 1px white solid;
    background-color: white;
    color: #00539CFF;
    font-size: larger;
}

.form-heading {
    border-bottom: 1px solid white; 
    color: white;
}

/* About Page CSS */
.about-section {
    padding: 60px 0;
  }
  
  .about-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .about-icons {
    margin-top: 40px;
  }
  
  .about-icons .icon {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .about-icons .icon p {
    margin: 0;
  }

/* Feedback  */
.feedback-heading{
    color: #000;
}

.Feedback-tip{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  

/* Login Page */
.modal-header {
    border-bottom: 0;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.small{
    cursor: pointer;
}

.fgt-pass{
    cursor: pointer;
}

.password-show-hide{
    border-color: #DEE2E6;
    border-left: none;
}

.password-input{
    border-right: none;
}

.login-warning{
    color: red;
}

/* Term and Condition */
.back-arrow{
    color: #212529; 
    margin-right: 10px;
    font-size: x-large;
    border: none;
    border-radius: 10px; /* Adjust the border radius as needed */
    transition: box-shadow 0.3s ease;
}

.back-arrow:hover{
    cursor: pointer;
}